
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main{

    min-height: 100vh;
    background-color: rgb(226, 140, 106);

}
.spanId{
    font-size: 60%;
}
.message{
    padding: 4px;
    display: grid;
    background-color: rgb(228, 181, 110);
    row-gap: 5px;
    
}

.message>span{
    overflow: hidden;
    word-wrap: break-word;
}
#messages{
    display: grid;
    row-gap: 10px;

    padding: 10px;
    height: fit-content;
}
main>div:first-child{
    height: fit-content;
}
.formModal{
    border: 1px solid black;
    padding: 20px;
    row-gap: 5px;
    display: grid;
}
#messageForm{
    border: 1px solid rgb(145, 51, 23);
    padding: 10px 20px;
    border-radius: 5px;
    display: grid;
    row-gap: 15px;
}
.btn{
    border: 1px solid black;
    padding: 3px;
    border-radius: 5px;
    width: fit-content;
    cursor: pointer;
    color: black;
    text-decoration: none;
}
#messageForm>div{
    display: grid;
    row-gap: 5px;
}
#messageForm input{
    height: 50px;
    border-radius: 5px;
}
#messageForm>div>div{
    display: grid;
    grid-template-columns: 1fr 8fr;
    text-align: center;
    column-gap: 1vw;
    align-items: center;
}
label{
    cursor: pointer;
}
textarea{
    resize: none;
}
header{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 10px 20px;
    align-items: center;
    
    background-color: rgb(212, 147, 103);
}
#forumUrl{
    justify-self: end;
    display: flex;
}
#forumsList{

    padding: 2vw;
    display: grid;
    grid-template-columns: 1fr;
    font-size: 3vw;
    gap: 2vw;
}
#forumsList p a{
    text-decoration: none;
    color: white;
}
#forumsList p{
    border: 1px solid black;
    padding: 1vw 2vw;
    border-radius: 5px;
    text-align: center;    
}
.h1Center{
    text-align: center;
}
@media screen and (max-width:  750px){
    header{
        grid-template-columns: 1fr;
        row-gap: 20px;
    }
    header div{
        justify-self: center;
    }
    #forumUrl{
        display: grid;
        justify-items: center;
        row-gap: 5px;
    }
    #messageForm>div>div{
        grid-template-columns: 1fr;
    }
    #messageForm>div>div label{
        padding: 1vw;
    }
    #messageForm>div>a, #messageForm>h1{
        justify-self: center;
        width: 100%;
        text-align: center;
    }
}
